@model BankManagementSystem.Models.BankAccount

<h2>Account Details</h2>

<table class="table table-bordered">
    <tr>
        <th>Account Holder</th>
        <td>@Model.AccountHolderName</td>
    </tr>
    <tr>
        <th>Account Number</th>
        <td>@Model.AccountNumber</td>
    </tr>
    <tr>
        <th>Account Type</th>
        <td>@Model.AccountType</td>
    </tr>
    <tr>
        <th>Balance</th>
        <td>@Model.Balance</td>
    </tr>
</table>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
